<a href="https://colab.research.google.com/github/sahdahx/Komstat-II/blob/main/KomstatII_W1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Komputasi Statistika II | 10th Feb 2026

- CO 1: Understand the concept of Statistical Computing

- CO 2: Be able to do necessary computation using statistical software Python

- CO 3: Be able to do the application using real data

In [40]:
# Import library
import numpy as np
import pandas as pd

# Definisikan x dan y
x = np.array([2,3,5])
y = np.array([2,4,6])

In [34]:
# Sintaks Dasar
print("x+y :", x+y, "\n")

print("x-y :", x-y, "\n")

print("x*y :", x*y, "\n")

print("x/y :", x/y, "\n")

print("x**y:", x**y, "\n")

print("x%y :", x%y, "\n")

x+y : [ 4  7 11]

x-y : [ 0 -1 -1]

x*y : [ 4 12 30]

x/y : [1.         0.75       0.83333333]

x**y: [    4    81 15625]

x%y : [0 3 5]

In [21]:
# Operator Relasional
print("Vektor x kurang dari vektor y:", x < y, "\n")

print("Vektor x kurang dari sama dengan vektor y:", x <= y, "\n")

print("Vektor x lebih besar dari vektor y:", x > y, "\n")

print("Vektor x lebih besar dari sama dengan vektor y:", x >= y, "\n")

print("Vektor x sama dengan vektor y:", x == y, "\n")

print("Vektor x tidak sama dengan vektor y:", x != y, "\n")

Vektor x kurang dari vektor y: [False  True  True]

Vektor x kurang dari sama dengan vektor y: [ True  True  True]

Vektor x lebih besar dari vektor y: [False False False]

Vektor x lebih besar dari sama dengan vektor y: [ True False False]

Vektor x sama dengan vektor y: [ True False False]

Vektor x tidak sama dengan vektor y: [False  True  True]

In [23]:
# Operator Logika
print("Logika Negasi (~) untuk vektor x:", ~x, "\n")

print("Logika Negasi (~) untuk vektor y:", ~y, "\n")

print("Logika Konjungsi (Dan):", x&y, "\n")

print("Logika Disjungsi (Atau):", x|y, "\n")

print("Logika Disjungsi Parsial:", x^y, "\n")

Logika Negasi (~) untuk vektor x: [-3 -4 -6]

Logika Negasi (~) untuk vektor y: [-3 -5 -7]

Logika Konjungsi (Dan): [2 0 4]

Logika Disjungsi (Atau): [2 7 7]

Logika Disjungsi Parsial: [0 7 3]

In [31]:
# Tipe Data
d1 = 6.5
d2 = 5
d3 = [True, False]
d4 = ["a", 'c', '123']
# d5 + 1 + 5j

print("Tipe data d1: ", type(d1), "\n")

print("Tipe data d2: ", type(d2), "\n")

print("Tipe data d3: ", type(d3), "\n")

print("Tipe data d4: ", type(d4), "\n")

Tipe data d1:  <class 'float'>

Tipe data d2:  <class 'int'>

Tipe data d3:  <class 'list'>

Tipe data d4:  <class 'list'>

In [44]:
# Membuat Data Frame

# Data 1
dt1_Py = {
    "kode": range(5),
    "nama": ["Julian", "Vanessa", "Jeffry", "Angel", "Nikki"],
    "gaji": [623.3, 515.2, 611.0, 729.0, 843.25],
    "mulai_kerja": ["2022-01-01", "2022-09-23", "2022-11-15", "2022-05-11", "2022-03-27"],
    "divisi": ["DS", "DS", "EA", "DA", "DS"]
}

# Data 2
dt2_Py = {
    "kode": range(5),
    "nama": ["Ardifo", "Inene", "Kefas", "Sherly", "Bakti"],
    "gaji": [578.0, 722.5, 632.8, 632.8, 632.8],
    "mulai_kerja": ["2022-05-21", "2022-07-30", "2022-06-17", "2022-07-30", "2018-09-03"],
    "divisi": ["Actuaries", "Actuaries", "CA", "DE", "Lecturer"]
}

df1 = pd.DataFrame(dt1_Py)
df2 = pd.DataFrame(dt2_Py)

In [45]:
df1

   kode     nama    gaji mulai_kerja divisi
0     0   Julian  623.30  2022-01-01     DS
1     1  Vanessa  515.20  2022-09-23     DS
2     2   Jeffry  611.00  2022-11-15     EA
3     3    Angel  729.00  2022-05-11     DA
4     4    Nikki  843.25  2022-03-27     DS

In [46]:
df2

   kode    nama   gaji mulai_kerja     divisi
0     0  Ardifo  578.0  2022-05-21  Actuaries
1     1   Inene  722.5  2022-07-30  Actuaries
2     2   Kefas  632.8  2022-06-17         CA
3     3  Sherly  632.8  2022-07-30         DE
4     4   Bakti  632.8  2018-09-03   Lecturer

In [49]:
df3 = pd.concat([df1, df2], ignore_index=True)
df3 # gabungkan dua dataframe

   kode     nama    gaji mulai_kerja     divisi
0     0   Julian  623.30  2022-01-01         DS
1     1  Vanessa  515.20  2022-09-23         DS
2     2   Jeffry  611.00  2022-11-15         EA
3     3    Angel  729.00  2022-05-11         DA
4     4    Nikki  843.25  2022-03-27         DS
5     0   Ardifo  578.00  2022-05-21  Actuaries
6     1    Inene  722.50  2022-07-30  Actuaries
7     2    Kefas  632.80  2022-06-17         CA
8     3   Sherly  632.80  2022-07-30         DE
9     4    Bakti  632.80  2018-09-03   Lecturer

In [52]:
df3.head() # 5 baris pertama

   kode     nama    gaji mulai_kerja divisi
0     0   Julian  623.30  2022-01-01     DS
1     1  Vanessa  515.20  2022-09-23     DS
2     2   Jeffry  611.00  2022-11-15     EA
3     3    Angel  729.00  2022-05-11     DA
4     4    Nikki  843.25  2022-03-27     DS

In [53]:
df3.tail() # 5 baris terakhir

   kode    nama   gaji mulai_kerja     divisi
5     0  Ardifo  578.0  2022-05-21  Actuaries
6     1   Inene  722.5  2022-07-30  Actuaries
7     2   Kefas  632.8  2022-06-17         CA
8     3  Sherly  632.8  2022-07-30         DE
9     4   Bakti  632.8  2018-09-03   Lecturer

In [54]:
df3.info() # tipe dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   kode         10 non-null     int64
 1   nama         10 non-null     object
 2   gaji         10 non-null     float64
 3   mulai_kerja  10 non-null     object
 4   divisi       10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 532.0+ bytes

In [55]:
df3.shape # dimensi data

(10, 5)

In [56]:
df3.describe() # summary statistik dasar

            kode        gaji
count  10.000000   10.000000
mean    2.000000  652.065000
std     1.490712   91.455284
min     0.000000  515.200000
25%     1.000000  614.075000
50%     2.000000  632.800000
75%     3.000000  700.075000
max     4.000000  843.250000

In [ ]:
Karyawan_Py1 = Karyawan_Py

Karyawan_Py1.rename(
    columns = {
        "No": "no",
        "Nama_Depan"   : 'nama.depan",
        "Nama_Belakang": 'nama.belakang',
        "Jenis_Kelamin": 'jenis.kelamin,
        'Tanggal_Lahir': 'tanggal.lahir',
        'Universitas'  : "univ",
        'GPA'          : 'ipk',
        'Gaji'         : 'gaji'
    }, inplace = True
)
Karyawan_Py1